@{
    ViewBag.Title = "manualsView";
    Layout = null;
    var cimFiles = ViewBag.CIMManuals as List<string>;
    var crrFiles = ViewBag.CRRManuals as List<string>;
    var eResourceFiles = ViewBag.EResourceManuals as List<string>;
    var spineHRExpenseFiles = ViewBag.SpineHRExpenseManuals as List<string>;
    var spineHRTimesheetFiles = ViewBag.SpineHRTimesheetManuals as List<string>;
    var spineHRPayrollFiles = ViewBag.SpineHRPayrollManuals as List<string>;
    var productManualsFiles = ViewBag.ProductManuals as List<string>;
    var othersFiles = ViewBag.OthersManuals as List<string>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manuals</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/css/ManualsStyles.css")">

</head>
<body>
    <div class="sidebar" id="sidebar">
        <h2>
            <img src="~/Images/icons/menu.png" alt="Toggle Sidebar" id="toggleSidebar">
            <span>Advanced Sys-Tek</span>
        </h2>
        <hr>
        <a href="@Url.Action("dashboardView", "Dashboard")">
            <img src="~/Images/icons/dashboard-icon.png" alt="Dashboard Icon"> <span>Dashboard</span>
        </a>
        <a href="@Url.Action("EmployeesView", "Employees")">
            <img src="~/Images/icons/employees-icon.png" alt="Employees Icon"> <span>Employees</span>
        </a>
        <a href="@Url.Action("updatesView", "Updates")">
            <img src="~/Images/icons/today-icon.png" alt="Updates Icon"> <span>Today's Updates</span>
        </a>
        <a href="@Url.Action("TownhallView", "Townhall")">
            <img src="~/Images/icons/meeting-icon.png" alt="Meeting Icon"> <span>Town Hall</span>
        </a>
        <a href="@Url.Action("ResourcesView", "Resources")">
            <img src="~/Images/icons/resources-icon.png" alt="Resources Icon"> <span>Resources</span>
        </a>
        <a href="@Url.Action("manualsView", "Manuals")">
            <img src="~/Images/icons/manual-icon.png" alt="Manual Icon"> <span>Manuals</span>
        </a>
        <a href="@Url.Action("AchievementsView", "Achievements")">
            <img src="~/Images/icons/achievements-icon.png" alt="Achievements Icon"> <span>Achievements</span>
        </a>
        <a href="@Url.Action("policiesView", "Policies")">
            <img src="~/Images/icons/policies-icon.png" alt="Policies Icon"> <span>Policies</span>
        </a>
        <a href="@Url.Action("EventsView", "Events")">
            <img src="~/Images/icons/events-icon.png" alt="Events Icon"> <span>Events</span>
        </a>
        <a href="@Url.Action("LoginView", "Accounts")">
            <img src="~/Images/icons/logout-icon.png" alt="Log Out Icon"> <span>Log Out</span>
        </a>
    </div>

    <div class="main-content">
        <div class="header">
            <img src="~/Images/images/AST Logo.png" alt="AST logo">
            <input type="text" placeholder="Search anything...">
            <div class="profile-container">
                <img src="~/Images/images/profile-pic.jfif" alt="Profile Picture" class="profile-img">
                <span class="user-name">q</span>
            </div>
        </div>


        <div class="manual-category-container">

            <!-- CIM Manuals -->
            <div class="manual-category">
                <h3>CIM Manuals</h3>
                <div class="manual-box">
                    @if (cimFiles != null && cimFiles.Any())
                    {
                        foreach (var file in cimFiles)
                        {
                            <div class="manual-item">
                                <a href="@Url.Action("GetManual", "Manuals", new { folderName = "Vedant Intern", fileName = file })" target="_blank">
                                    <span>@file</span>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No CIM manuals found.</p>
                    }
                </div>
            </div>


            <!-- CIM Manuals -->
            <div class="manual-category">
                <h3>CRR Manuals</h3>
                <div class="manual-box">
                    @if (crrFiles != null && crrFiles.Any())
                    {
                        foreach (var file in crrFiles)
                        {
                            <div class="manual-item">
                                <a href="@Url.Action("GetManual", "Manuals", new { folderName = "3D PDF", fileName = file })" target="_blank">
                                    <span>@file</span>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No CRR manuals found.</p>
                    }
                </div>
            </div>


            <!-- E Resources Manuals -->
            <div class="manual-category">
                <h3>E Resources</h3>
                <div class="manual-box">
                    @if (crrFiles != null && crrFiles.Any())
                    {
                        foreach (var file in crrFiles)
                        {
                            <div class="manual-item">
                                <a href="@Url.Action("GetManual", "Manuals", new { folderName = "3D PDF", fileName = file })" target="_blank">
                                    <span>@file</span>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No E Resources manuals found.</p>
                    }
                </div>
            </div>


            <!-- Spine HR - Expense Manuals -->
            <div class="manual-category">
                <h3>Spine HR - Expense</h3>
                <div class="manual-box">
                    @if (spineHRExpenseFiles != null && spineHRExpenseFiles.Any())
                    {
                        foreach (var file in spineHRExpenseFiles)
                        {
                            <div class="manual-item">
                                <a href="@Url.Action("GetManual", "Manuals", new { folderName = "3D PDF", fileName = file })" target="_blank">
                                    <span>@file</span>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No Spine HR - Expense manuals found.</p>
                    }
                </div>
            </div>


            <!-- Spine HR - Timesheet Manuals -->
            <div class="manual-category">
                <h3>Spine HR - Timesheet</h3>
                <div class="manual-box">
                    @if (spineHRTimesheetFiles != null && spineHRTimesheetFiles.Any())
                    {
                        foreach (var file in spineHRTimesheetFiles)
                        {
                            <div class="manual-item">
                                <a href="@Url.Action("GetManual", "Manuals", new { folderName = "3D PDF", fileName = file })" target="_blank">
                                    <span>@file</span>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No Spine HR - Timesheet manuals found.</p>
                    }
                </div>
            </div>

            <!-- Spine HR - Payroll Manuals -->
            <div class="manual-category">
                <h3>Spine HR - Payroll</h3>
                <div class="manual-box">
                    @if (spineHRPayrollFiles != null && spineHRPayrollFiles.Any())
                    {
                        foreach (var file in spineHRPayrollFiles)
                        {
                            <div class="manual-item">
                                <a href="@Url.Action("GetManual", "Manuals", new { folderName = "3D PDF", fileName = file })" target="_blank">
                                    <span>@file</span>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No Spine HR - Payroll manuals found.</p>
                    }
                </div>
            </div>

            <!-- Product  Manuals -->
            <div class="manual-category">
                <h3>Product</h3>
                <div class="manual-box">
                    @if (productManualsFiles != null && productManualsFiles.Any())
                    {
                        foreach (var file in productManualsFiles)
                        {
                            <div class="manual-item">
                                <a href="@Url.Action("GetManual", "Manuals", new { folderName = "3D PDF", fileName = file })" target="_blank">
                                    <span>@file</span>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No Product manuals found.</p>
                    }
                </div>
            </div>

            <!-- Other Manuals -->
            <div class="manual-category">
                <h3>Others </h3>
                <div class="manual-box">
                    @if (othersFiles != null && othersFiles.Any())
                    {
                        foreach (var file in othersFiles)
                        {
                            <div class="manual-item">
                                <a href="@Url.Action("GetManual", "Manuals", new { folderName = "3D PDF", fileName = file })" target="_blank">
                                    <span>@file</span>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No other manuals found.</p>
                    }
                </div>
            </div>
            <!-- add similar blocks for other folders like CRR, E Resources, etc. -->

        </div>

        <footer class="footer">
            &copy; 2024 Advanced Sys-Tek Limited | Contact Us | Feedback
        </footer>
    </div>

    <script src="@Url.Content("~/Scripts/script/ManualsScript.js")"></script>
</body>
</html>
